/* Styling is designed for desktop first */
* {
  font-family: Arial, Helvetica, sans-serif;
  color: navy;
  margin: 0px;
}

.sansSerif {
  font-family:Arial, Helvetica, sans-serif;
}

.sectionTitle {
  font-size: 150%;
  text-align: right;
  padding:5px;
}

body {
  margin: 0px;
  background-color: #b4bbc3;
}

.headerBar {
  display:flex;
  justify-content: space-between;
}

.mainHeaderText {
  font-size: 300%;
  font-weight: bold;
}

header {
  padding: 10px 10px 0px 10px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

.AV {
  text-align: right;
  font-size: 175%;
  padding:61px 30px;
  background-image: url(../images/ProfilePic3.jpg);
  background-repeat: no-repeat;
  background-position:5px center;
  background-size: 140px;
}
.entireHeaderSection {
  background-image: url(../images/banner-5190177_960_720.jpg);
  /* background image from https://pixabay.com/illustrations/banner-metal-metallic-steel-shiny-5190177/ */
  background-repeat: no-repeat;
  background-position:0px center;
  background-size:cover;
}

.bodyGroup {
  display: flex;
  margin: 5px;
}

.AboutMeText {
  display: block;
  color: black;
  margin: 1em 5px;
}

.bodyGroup aside {
  flex: 0 0 150px;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color:navy;
  margin:5px;
}

.bodyGroup section {
  flex: 4 1;
}

#previousProjects {
  display: flex;
  flex-flow:column wrap;
  justify-content: space-evenly;
  align-items: center;
}



.projectBucket {
  display: flex;
  justify-content:center;
  align-content:stretch;

}

.projectCard {
  position: relative;
  margin: 5px;
}

.projectCard img {
  flex: 1 1 150px;
  width:100%;
  transition: 0.75s ease;
  border-radius: 5px;
}

.projectCard:hover img{
  box-shadow: 0 0 10px navy;
  opacity: .75;
  z-index: 3;

}

.projectCard:hover .linkText{
  z-index: 3;
  background-color:whitesmoke;
}

.projectCard:hover .projectText{
  color: black;
}

.linkText {
  position: absolute;
  bottom:25%;
  background-color: black;
  padding: 5px;
  display:block;
  transition: 0.75s ease;
}

.projectText {
  color: whitesmoke;
  display: block;
  transition: 0.75s ease;
}

.projectName {
  font-size:larger;
  font-weight:bolder;
}

.projectDesc {
  font-style: italic;
  font-weight:lighter;
}









footer {
  display:block;
  background-color: #b4bbc3;
  text-align: center;
  width: auto;
  padding: 0 0 10px 0;
}

footer p {
  margin: auto;
}

#contactList {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.contactSection {
  align-self: center;
}



/* Add Media Queries for phone and tablet formatting */
/* tablets / devices with width less than 992px */
@media screen and (max-width: 992px) {
/* This \/ block is added in to make it easy to test that the Media Query is working for this device type */    
    /* * {
      color: green;
    } */
/* This ^ block is added in to make it easy to test that the Media Query is working for this device type */    


  
  }

/* phones / devices with width less than 768px */
@media screen and (max-width: 768px) {
      /* This \/ block is added in to make it easy to test that the Media Query is working for this device type */
      /* * {
        color: red;
      } */
      /* This ^block is added in to make it easy to test that the Media Query is working for this device type */
      .bodyGroup {
        flex-direction: column;
        align-items: stretch;
      }

      .bodyGroup aside {
        flex: 0 0;
        border-right-width: 0px;
        border-right-style: none;
        border-right-color:navy;
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color:navy;
        margin:5px;
        
      }
      
      .bodyGroup section {
        flex: 1 1 ;
      }

      .sectionTitle {
        width:100%;
        text-align: center;
      }

      .projectBucket {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content:stretch;
      
      }

      .contactSection {
        align-self: stretch;
      }

      footer {
        padding: 10px 0 15px 0;
      }

    }

  
    