/* Styling is designed for desktop first */
:root {
  --darkColor:#000080;
  --lightColor: #b4bbc3;
  --darkColor75: #000080BF;
  --transitionTime: 0.75s;
}
/* this section defines CSS variables that are used throughout the rest of the stylesheet */

* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--darkColor);
  margin: 0px;
}
/* This section sets the default formatting */

.serif{
  font-family: Georgia, Times, 'Times New Roman', serif
}
/* This picks the font family that will be used for serif fonts */

.sansSerif {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* This picks the font family that will be used for sans-serif fonts */

.sectionTitle {
  font-size: 150%;
  text-align: right;
  padding:5px;
}
/* This sets the styling for the section titles i.e. "About Me", "Work", "Contact Me" */

body {
  margin: 0px;
  background-color: #b4bbc3;
}
/* This sets the margin and background color for the body of the site. */

.headerBar {
  display:flex;
  justify-content: space-between;
}
/* This sets the headerBar to be a flex container with its contents spread apart */

.mainHeaderText {
  font-size: 300%;
  font-weight: bold;
}
/* sets font styling for the "Portfolio" text */

nav {
  display: flex;
  justify-content: flex-end;
}
/* sets the nav menu as a flex container and justifies its items to the right. */

nav a {
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}
/* sets styling for nav bar links, most important was removing the underline, then adding padding and margin to look comfortable */

#profileSection {
  display:flex;
  justify-content:space-between;
  align-items:center;
}
/* Sets the #profileSection (picture and name) to a felx container with the items spread apart horizontally, and centered vertically. */

#profilePic {
  border-radius:20px;
  flex:0 0;
}
/* sets the picture to have rounded corners and sets flex-grow and flex-shrink to 0 */

.AV {
  text-align: right;
  font-size: 175%;
  flex:0 0;
}
/* Sets styling for my name.  aligns the text to the right and sets flex-grow and flex-shrink to 0  */

.entireHeaderSection {
  background-image: url(../images/banner-5190177_960_720.jpg);
  /* background image from https://pixabay.com/illustrations/banner-metal-metallic-steel-shiny-5190177/ */
  background-repeat: no-repeat;
  background-position:0px center;
  background-size:cover;
  padding: 10px;
}
/* sets the styling for the header section.  primarily focused on the background image */

.bodyGroup {
  display: flex;
  margin: 5px;
}
/* sets each of the .bodyGroup's to be a flex container */

.AboutMeText {
  display: block;
  color: var(--darkColor);
  margin: 1em 5px;
}
/* sets font color, and paragraph styling */

.bodyGroup aside {
  flex: 0 0 150px;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color:var(--darkColor);
  margin:5px;
}
/* Styles the box that holds the section titles */

.bodyGroup section {
  flex: 4 1;
}
/* allows the .bodyGroup section elements to grow and shrink within their flex containers */

/* #previousProjects {
  display: flex;
  flex-flow:column wrap;
  justify-content: space-evenly;
  align-items: center;
} */
/* I think the above block can be removed.  It served a function prior to some code fixes that I did on the .projectBucket.  Leaving it in, commented out, in case I need to add it back in later. */

.projectBucket {
  display: flex;
  justify-content:center;
  align-content:stretch;
  flex-wrap:wrap;
  cursor:default;
}
/* Sets the flex container properties for the container that holds the .projectCard's */

.projectCard {
  position: relative;
  margin: 5px;
  flex:1 1 40%;
}
/* sets the flex item styling for the project cards.  Defines a position for later positioning of the text boxes. */

.pinnedProject {
  flex:1 1 80%;
}
/* defines the flex properties for the first project.  forces it to be on a row by itself. */

.projectCard img {
  flex: 1 1 150px;
  width:100%;
  transition: var(--transitionTime) ease;
  border-radius: 5px;
  opacity: 0.75;
}
/* sets the image styling.  of note is the transition that is used during the :hover pseudo class */

.projectCard:hover img{
  box-shadow: 0 0 10px var(--darkColor);
  opacity: 1;
  z-index: 3;
}
/* sets the properties of the img element when a card is :hover'd.  adds a shadow outline, makes it full opacity, and brings to the front. */

.projectCard:hover .linkText{
  z-index: 3;
  background-color:var(--lightColor);
}
/* sets the properties of the .linkText when a card is :hover'd.  switches the background-color and brings to the front. */

.projectCard:hover .projectText{
  color: var(--darkColor);
}
/* sets the properties of the .projectText when a card is :hover'd.  switches the color. */

.linkText {
  position: absolute;
  bottom:25%;
  background-color: var(--darkColor75);
  padding: 5px;
  display:block;
  transition: var(--transitionTime) ease;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* this formats the text box over each of the cards.  It sets the text box to have an animation time, and sets the background color and positioning  */

.projectText {
  color: var(--lightColor);
  display: block;
  transition: var(--transitionTime) ease;
}
/* styles both the .projectName and .projectDesc.  Font color and transition timing */

.projectName {
  font-size:larger;
  font-weight:bolder;
}
/* font styling for the .projectName */

.projectDesc {
  font-style: italic;
  font-weight:lighter;
  font-size: 0.75em;
}
/* font styling for the .projectDesc */

.repoLink {
  display: inline;
}

footer {
  display:block;
  background-color: #b4bbc3;
  text-align: center;
  width: auto;
  padding: 0 0 10px 0;
}
/* styling for the footer section */

footer p {
  margin: auto;
  font-size: 50%;
}
/* font styling for the footer text and centers the text in the window */

#contactList {
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin:5px;
}
/* sets the flex container properties for the list of contact links */

.contactSection {
  align-self: center;
}
/* sets vertical alignment of the contact links to be centered. */


/* Add Media Queries for phone and tablet formatting */
/* tablets / devices with width less than 992px */
@media screen and (max-width: 992px) {
  /* no styling changes for this screen size.  Testing on various screen sizes looked good with the default styling */
}

/* phones / devices with width less than 768px */
@media screen and (max-width: 768px) {
      nav {
        flex-wrap: wrap;
        justify-content: flex-end;
        text-align: left;
      }
      /* allows the nav bar to wrap and formats the flex properties for the container */

      nav a{
        flex: 0 1 34%;
      }
      /* sets the flex item properties for the a elements inside the nav */

      nav a:nth-child(even) {
        text-align: right;
      }
      /* changes the text alignment to be to the right for even a elements.   */

      .bodyGroup {
        flex-direction: column;
        align-items: stretch;
      }
      /* changes the flex direction and alignment to be top down for mobile screens. */

      .bodyGroup aside {
        flex: 0 0;
        border-right-width: 0px;
        border-right-style: none;
        border-right-color:var(--darkColor);
        border-bottom-width: 5px;
        border-bottom-style: solid;
        border-bottom-color:var(--darkColor);
        margin:5px;
      }
      /* sets the flex properties for the item.  Also changes where the border shows up on the aside. */
      
      .bodyGroup section {
        flex: 1 1 ;
      }
      /* sets flex properties for the flex items */

      .sectionTitle {
        width:inherit;
        text-align: center;
      }
      /* centers the text for the titles. */

      .projectBucket {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-content:stretch;
      }
      /* sets the flex properties for the container that holds the project cards. */

      .contactSection {
        align-self: stretch;
      }
      /* sets flex alignment for the contact links container */

      #contactList {
        flex-wrap:wrap;
      }
      /* allows the contact links to wrap */
      
      #contactList li:nth-child(even) {
       text-align: right;
      }
      /* changes the text alignment to be to the right for even li elements.   */
      
      #contactList li {
        padding: 2px;
        margin: 5px;
        flex: 0 1 34%;
      }
      /* sets properties to force two contact li's per row, as well as padding and margin for click-ability */

      footer {
        padding: 0 0 0.5em 0;
      }
      /* sets padding on the bottom of the footer to give a little bit of whitespace below the footer text. */
    }

    /* adding a different media query for very small screens.  Some wrapping / text size issues occur at very small screens. */
    @media screen and (max-width: 374px) {
      .mainHeaderText {
        font-size:200%;
      }

      .AV {
        font-size:150%;
      }
    }


  
    